<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awesome CPUs</title>
  </head>
  <body>
    <h1>Amazon CPU Data</h1>

    <h2>AMD CPUs</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>ASIN</th>
        <th>Price</th>
      </tr>
      {% for item in amd_data %}
      <tr>
        <td>{{ item['Title'] }}</td>
        <td>{{ item['ASIN'] }}</td>
        <td>{{ item['Price'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
